@{
    Layout = "_LayoutHome";
}


<section id="featured-services" class="featured-services">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="icon">
                    <i >
                        <img src="~/css/ps.png" style="width:50px;"></img>
                    </i>
                </div>
                    <h4 class="title">
                        <a href="https://store.playstation.com/" target="_blank">Playstation store</a>
                    </h4>
                    <p class="description">
                       Discover all new plan options, benefits and more.
                       Enhance your PlayStation experience with online multiplayer, 
                       monthly games, exclusive discounts and more.

                    </p>
                    </div>
            </div>
           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
               <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                   <div class="icon">
                       <i >
                           <img src="~/css/Xbox.png" style="width:50px;"></img>
                       </i>
                   </div>
                       <h4 class="title">
                           <a href="https://www.xbox.com/"target="_blank">XBox store</a>
                       </h4>
                           <p class="description">
                               Experience the new generation of games and entertainment with Xbox. 
                               Explore consoles, new and old Xbox games and accessories to start. 

                           </p>
               </div>
           </div>
           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
               <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                   <div class="icon">
                       <i >
                           <img src="~/css/epic.png" style="width:50px;"></img>
                       </i>
                   </div>
                       <h4 class="title">
                           <a href="https://www.epicgames.com/" target="_blank">Epic Games store</a>
                       </h4>
                           <p class="description">
                                Founded in 1991, Epic Games is an American company founded by CEO 
                                Tim Sweeney. The company is headquartered in Cary, 
                                North Carolina and has more than 40 offices worldwide. 
                                Today Epic is a leading interactive entertainment company 
                                and provider of 3D engine technology.
                           </p>
               </div>
           </div>
           <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
               <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                   <div class="icon">
                       <i ></i>
                   </div>
                   <h4 class="title">
                       <a href="https://alternativeto.net/" target="_blank">AlternativeTo</a>
                   </h4>
                   <p class="description">
                       PlayStation Network is described as 'often abbreviated as PSN, 
                       is an online multiplayer gaming and digital media delivery service 
                       provided/run by Sony Computer Entertainment for use with the PlayStation 3 
                       and PlayStation Portable video game consoles' and is an game in the games 
                       category.

                   </p>
               </div>
            </div>
        </div>
     </div>
</section>


