@{
    Layout = "_Layout";
}


@model User



<html>
    <head>
        <title>Games Encyclopedia-Login</title>
        <link rel="stylesheet" href="~/css/loginForm.css"/>
        <link rel="shortcut icon" href="~/css/Icon.png">
    </head>
    
    <body>
        
        <div class="wrapper">
        <div class="logo">
            <img src="~/css/83496ac248c0b3fc22a70c74e8c75746.png" alt="">
        </div>
        <div class="text-center mt-4 name">
            Sign in
        </div>
        <form class="p-3 mt-3" asp-action="UserLogin">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" asp-for="Name" placeholder="Username" required="">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" asp-for="Password" placeholder="Password" required="">
            </div>
            <button class="btn mt-3">Login</button>
        </form>
        <div>
            <span class="or"> or </span>
            <div class="text-center fs-6">
              
                 <a href="/Home/Reg">Sign up</a>
            </div>
        </div>
    </div>

    </body>

</html>




@{
    if (TempData["LoginError"]!=null)
    {
        <script>
            alert("@TempData["LoginError"]")
        
        </script>
    }
    if (TempData["Error"]!=null)
    {
        <script>
            alert("@TempData["Error"]")
        
        </script>
    }
}





